*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color:rgb(210, 226, 243);
}
 .container {
  max-width: 1000px;
  min-height: 590px;
  background-color: white;
  margin: 5vh auto;
  padding: 20px;
  border-radius: 20px;
  margin-right: 300px;

}

.sidebar {
  height: 540px;
  width: 34%;
  background-color: rgb(54, 76, 245);
  border-radius: 10px;
  display: inline-block;
}

.form {
  height: 540px;
  width: 45%;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  position: absolute;
  padding-top: 20px;

}
form{
  padding-left:2em ;
  
}

.blue{
  color: blue;
  margin-bottom: 20px;
}

.grey{
  color: lightslategray;
  margin-bottom: 20px;
  margin-top: 20px;
}

.acc{
  margin-bottom: 30px;
}
.input{
  border: 1px solid black;
  padding: 10px 100px 10px 8px;
  margin-right: 100px;
  border-radius: 8px;
}

form .app input {
  width: 85%;
  font-size: large;
  outline: none;
  border: 1px solid lightslategrey;
  padding:10px 200px 10px 10px;
  /* margin-bottom: 20px; */
  
}
form .app input:focus{
  background-color: grey;
  color: white;
  border-bottom: 2px;
}

form button{
  width: 30%;
  padding: 10px;
  margin-top: 7px;
  background-color: blue;
  color: white;
  font-size: large;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

form button:hover{
  background-color: white;
  color: blue;
  border: 1px solid blue;
}


.sidebar h3{
  padding: 35px 0 30px 40px;
  font-size: small;
  color: white;
}

.sidebar h2{
  padding:35px 0 30px 40px ;
  color: white;
}

.sidebar p{
  padding:35px 0 30px 40px ;
  color: lightblue;

}

